.rightAlign {
  text-align: right;
}

.aboutAuthorButton {
  background-color: pink;
}

.container {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 2rem auto;
}

.tag {
  position: absolute;
  left: 10%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  padding: 4px 8px;
  font-size: 0.75rem;
  border-radius: 12px;
  white-space: nowrap;
}

.tag::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 20%;
  border-width: 9px;
  border-style: solid;
  border-color: white transparent transparent transparent; /* 吹き出しの三角形 */
}
